*{
    margin: 0px;
    padding: 0px;
}

#intro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90vh;
    background-color: #1754488c;
    justify-content: center;
    align-items: center;
}

.photo{
    border: 3px solid black;
    border-radius: 50%;

}
.introduce{
    width: 60vw;

}
